# Welcome to our Lab Practice!

This lab is all about defining simple functions. Are you ready? Let's go!

You will find some small tasks in sections below.

## Define simple functions (without return value and parameters)

###Task: define a function that print "hello world"

In [2]:
# your code will be here
def hello():
  print("hello world")

hello()

hello world

###Task: define a function that print "hello world" 3 times

In [3]:
# your code will be here
def hello3():
  for i in range(3):
    print("hello world")

hello3()

hello world
hello world
hello world

###Task: define a function that print integers 1 to 10 (hint: you can use a for loop)

In [4]:
# your code will be here
def prrinting1to10():
  for i in range(1,11):
    print(i)

prrinting1to10()

1
2
3
4
5
6
7
8
9
10

###Task: define a function that print primary integers in 100 (hint: you can use loops)

In [5]:
# your code will be here
def print_primary_in_100():
  for i in range(2,101):
    for j in range(2,i):
      if i%j==0:
        break
    else:
      print(i)

print_primary_in_100()

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

###Task: define a function that print even number from 1 to 10.

In [6]:
# your code will be here
def even():
  for i in range(2,11,2):
    print(i)

even()

2
4
6
8
10

###Task: define a function that print odd number from 1 to 10

In [7]:
# your code will be here
def odd():
  for i in range(1,11,2):
    print(i)

odd()

1
3
5
7
9

###Task: define a function that print "Welcome to Course 2"

In [8]:
# your code will be here
def welcome():
  print("Welcome to Course 2")

welcome()

Welcome to Course 2

###Task: define a function that print "Welcome to Courose 2" 10 times.

In [9]:
# your code will be here
def welcome10():
  for i in range(10):
    print("Welcome to Course 2")

welcome10()

Welcome to Course 2
Welcome to Course 2
Welcome to Course 2
Welcome to Course 2
Welcome to Course 2
Welcome to Course 2
Welcome to Course 2
Welcome to Course 2
Welcome to Course 2
Welcome to Course 2