# Welcome to our Lab Practice!

This lab is all about defining functions with ONE parameter. Are you ready? Let's go!

You will find some small tasks in sections below. After defining functions, call them to test.

###Task: define a function that print "hello, *name*" where *name* is a parameter

In [6]:
# your code will be here
def hello(name):
  print("Hello,", name)

In [7]:
hello("Rohit")

Hello, Rohit

###Task: define a function that print "hello world" *n* times, where *n* is a parameter

In [9]:
# your code will be here
def ntime(n):
  for i in range(n):
    print("Hello World")

ntime(7)

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

###Task: define a function that print integers 1 to *n* (hint: you can use a for loop), where *n* is a parameter

In [10]:
# your code will be here
def ninteger(n):
  for i in range(1,n+1):
    print(i)

ninteger(10)

1
2
3
4
5
6
7
8
9
10

###Task: define a function that print prime integers in *n* (hint: you can use loops), where *n* is a parameter

In [12]:
# your code will be here
def prime(n):
  for i in range(2,n+1):
    for j in range(2,i):
      if i%j==0:
        break
      else:
        print(i)
        break
prime(20)

3
5
7
9
11
13
15
17
19

###Task: define a function that print whether or not given *n* is even, *n* is a parameter

In [13]:
# your code will be here
def even(n):
  if n%2==0:
    print("Even")
  else:
    print("Odd")

even(10)

Even

###Task: define a function that print whether or not given *n* is odd, *n* is a parameter

In [14]:
# your code will be here
def odd(n):
  if n%2==0:
    print("Even")
  else:
    print("Odd")

odd(7)

Odd

###Task: define a function that print the absolute value of *n*, *n* is a parameter

In [15]:
# your code will be here
def  abso(n):
  if n<0:
    print(-n)
  else:
    print(n)
abso(-5)

5

###Task: define a function that print the square value of *n*, *n* is a parameter

In [16]:
# your code will be here
def square(n):
  print(n*n)

square(5)

25

###Task: define a function that print whether or not given *n* is divisible by 6, *n* is a parameter

In [17]:
# your code will be here
def divisible(n):
  if n%6==0:
    print("Divisible")
  else:
    print("Not Divisible")

divisible(12)

Divisible

###Task: define a function that print whether or not given *n* is prime, *n* is a parameter

In [18]:
# your code will be here
def prime(n):
  for i in range(2,n):
    if n%i==0:
      print("Not Prime")
      break
  else:
    print("Prime")

prime(13)

Prime