# Welcome to our Lab Practice!

This lab is all about defining functions with multiple parameters. Are you ready? Let's go!

You will find some small tasks in sections below. After defining functions, call them to test.

###Task: define a function that print "*message*" *n* times, where *message* and *n* are parameters

In [2]:
# your code will be here
def nmsg(message,n):
  for i in range(n):
    print(message)

nmsg("Hello World", 5)

Hello World
Hello World
Hello World
Hello World
Hello World

###Task: define a function that print integers *n*  to *m* (hint: you can use a for loop), where *n* and *m* are parameters, and *n < m*.

Challenge: Can you write a program that doesn't require *n < m*?

In [6]:
# your code will be here
def printnm(n,m):
  for i in range(n,m+1):
    print(i)

printnm(5,10)

5
6
7
8
9
10

In [10]:
def print_range(n, m):
    if n <= m:
        for i in range(n, m + 1):
            print(i)
    else:
        for i in range(n, m - 1, -1):
            print(i)

print_range(10,5)

10
9
8
7
6
5

###Task: define a function that print the sum of *n*  to *m*, where *n, m* are parameters, and *n* < *m*.

In [11]:
# your code will be here
def sumrange(n,m):
  sum = 0
  for i in range(n,m+1):
    sum += i
  return sum

sumrange(5,10)

45

###Task: define a function that print the AND logical operation of *condition1* and *condition 2*, where *condition1, condition2* are parameters.

In [12]:
# your code will be here
def andlogical(condition1,condition2):
  if condition1 and condition2:
    return True
  else:
    return False

andlogical(True,False)

False

###Task: define a function that print if *n* is dividible by *m*, where *n, m* are parameters.

In [13]:
# your code will be here
def dividible(n,m):
  if n % m == 0:
    return True
  else:
    return False

dividible(10,5)

True

###Task: define a function that print the minimal number from *x, y, z*, where *x, y, z* are parameters

In [14]:
# your code will be here
def minnum(x,y,z):
  min = x
  if y < min:
    min = y
  if z < min:
    min = z
  return min

minnum(5,10,15)

5