# Welcome to our third Lab Practice!

This lab is all about defining functions with return values. Are you ready? Let's get started!

You will find some small tasks in sections below. After defining functions, call them to test.

## Define functions with return numeric values.

###Task: define a function that return the absolute value of *n*, where *n* is a parameter

In [2]:
# your code will be here
def absolute(n):
  if n >= 0:
    return n
  else:
    return -n

absolute(-5)

5

###Task: define a function that return the product value of *n* and *m*, where *n, m* are parameters

In [3]:
# your code will be here
def product(n, m):
  return n * m

product(2, 3)

6

###Task: define a function that return the result of raise *n* to the power of *m*, where *n, m* are parameters

In [4]:
# your code will be here
def power(n, m):
  return n ** m

power(2, 3)

8

###Task: define a function that return the average of three numbers, *x, y, z*, where *x, y, z* are parameters

In [5]:
# your code will be here
def average(x, y, z):
  return (x + y + z) / 3

average(1, 2, 3)

2.0

###Task: define a function that return the minimal of three numbers, *x, y, z*, where *x, y, z* are parameters

In [6]:
# your code will be here
def minimum(x, y, z):
  return min(x, y, z)

minimum(1, 2, 3)

1

###Task: define a function that print sum of integers 1 to *n* (hint: you can use a for loop), where *n* is a parameter

In [7]:
# your code will be here
def sum_to_n(n):
  sum = 0
  for i in range(1, n + 1):
    sum += i
  return sum

sum_to_n(10)

55

## Define functions with return str values.

###Task: define a function that return "hello, *name*" where *name* is a parameter

In [8]:
# your code will be here
def hello(name):
  return "hello, " + name

hello("John")

'hello, John'

###Task: define a function that return "hello world" *n* times, where *n* is a parameter

In [11]:
# your code will be here
def hello_world(n):
  return "hello world\n" * n

print(hello_world(3))

hello world
hello world
hello world

###Task: define a function that concatenate message 1 and message 2 together and return it

In [12]:
# your code will be here
def concatenate(message1, message2):
  return message1 + message2

concatenate("hello", "world")

'helloworld'

## Define functions with return boolean values.

###Task: define a function that return the boolean value for given *n* is even or not, *n* is a parameter

In [14]:
# your code will be here
def is_even(n):
  return n % 2 == 0

is_even(3)

False

###Task: define a function that return the boolean value for given *n* is odd or not, *n* is a parameter

In [15]:
# your code will be here
def is_odd(n):
  return not is_even(n)

is_odd(3)

True

###Task: define a function that return the boolean value for given *n* is prime number or not, *n* is a parameter

In [16]:
# your code will be here
def is_prime(n):
  for i in range(2, n):
    if n % i == 0:
      return False
  return True

is_prime(13)

True

###Task: define a function that return the boolean value for given *n* is positive (>0) or not, *n* is a parameter

In [17]:
# your code will be here
def is_positive(n):
  return n > 0

is_positive(3)

True

###Task: define a function that return the boolean value for whether or not given *n* is divisible by 6, *n* is a parameter

In [18]:
# your code will be here
def is_divisible_by_6(n):
  return n % 6 == 0

is_divisible_by_6(12)

True

## Define functions return multiple values.

###Task: define a function that return the min, max, avg, and total of given 3 numbers *x, y, z*, where *x, y, z* are parameters

In [19]:
# your code will be here
def fun(x,y,z):
  return min(x,y,z), max(x,y,z), (x+y+z)/3

min_value, max_value, avg_value = fun(1,2,3)
print(min_value, max_value, avg_value)

1 3 2.0