# Types of objects in Python

In [10]:
# Integer

(type(11))

int

In [11]:
# Float

(type(2.14))

float

In [12]:
# String

(type("Hello, Python 101!"))

str

# Integers

In [13]:
# Print the type of -1

type(-1)

int

In [14]:
# Print the type of 4

type(4)

int

In [15]:
# Print the type of 0

type(0)

int

# Floats

In [16]:
# Print the type of 1.0

type(1.0) # Notice that 1 is an int, and 1.0 is a float

float

In [17]:
# Print the type of 0.5

type(0.5)

float

In [18]:
# Print the type of 0.56

type(0.56)

float

In [19]:
# System settings about float type
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

# Converting from one object type to a different object type

In [20]:
# Verify that this is an integer

type(2)

int

# Converting integers to floats

In [21]:
# Convert 2 to a float

float(2)

2.0

In [22]:
# Convert integer 2 to a float and check its type

type(float(2))

float

In [23]:
# Casting 1.1 to integer will result in loss of information

int(1.1)

1

# Converting from strings to integers or floats

In [24]:
# Convert a string into an integer

int('1')

1

In [25]:
# Convert a string into an integer with error

int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [26]:
# Convert the string "1.2" into a float

float('1.2')

1.2

# Converting numbers to strings

In [28]:
# Convert an integer to a string

str(1)

'1'

In [29]:
# Convert a float to a string

str(1.2)

'1.2'

# Boolean data type

In [30]:
# Value true

True

True

In [31]:
# Value false

False

False

In [32]:
# Type of True

type(True)

bool

In [33]:
# Type of False

type(False)

bool

In [34]:
# Convert True to int

int(True)

1

In [35]:
# Convert 1 to boolean

bool(1)

True

In [36]:
# Convert 0 to boolean

bool(0)

False

# Exercise: Types

In [37]:
# What is the data type of the result of: 6 / 2?
type(6/2)

float

In [38]:
# What is the type of the result of: 6 // 2? (Note the double slash //.)
type(6//2)

int

In [39]:
#What is the type of the result of: "Hello, World!"
type("Hello, World!")

str

In [40]:
#What is the type of the result of: "hello" == "world"
type("hello" == "world")

bool

In [41]:
#Write the code to convert the following number representing employeeid "1001" to an integer
int("1001")

1001

In [42]:
# Write the code to convert this number representing financial value "1234.56" to a floating point number
float("1234.56")

1234.56

In [44]:
# Write the code to convert this phone number 123-456-7890 to a string
str("123-456-7890")

'123-456-7890'